/* 1️⃣ Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* 2️⃣ Declare CSS variables */
:root {
  /* Primary Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  /* Typography */
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-body-size: 0.8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5;
}
html,
body {
  height: 100%;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-body-size);
  color: var(--grey-200);
}

.wrapper {
  height: 100%;
  margin: auto;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: auto;
  align-content: center;
}

.card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.2);
}
.card-author {
  display: flex;
  gap: 8px;
  align-items: center;
}
.author-image > img {
  border-radius: 50%;
}

.card-header {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--white);
}

.card-1 {
  background-color: var(--purple-500);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 48px;
  background-size: 104px;
  grid-column: 1/3;
}
.card-2 {
  background-color: var(--grey-500);
}
.card-3 {
  background-color: var(--white);
  color: var(--grey-400);

  grid-column: 1;
}
.card-3 > .card-header {
  color: var(--grey-500);
}
.card-4 {
  background-color: var(--dark-blue);
  grid-column: 2/4;
}
.card-5 {
  background-color: var(--white);
  color: var(--grey-400);
  grid-column: 4;
  grid-row: 1/3;
}
.card-5 > .card-header {
  color: var(--grey-500);
}

.card-description {
  line-height: 1.6;
}

@media (max-width: 375px) {
  .wrapper {
    padding: 16px;
  }
  .grid {
    max-width: 100%;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .card {
    grid-column: 1 !important;
    grid-row: auto !important;
  }
  .card-1 {
    grid-column: 1;
  }
  .card-2 {
    grid-column: 1;
  }
  .card-3 {
    grid-column: 1;
  }
  .card-4 {
    grid-column: 1;
  }
}
